html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--color);
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    overflow-y: clip;
}

header {
    display: flex;
    flex-shrink: 0;
    padding: 10px;
    align-items: center;
    user-select: none;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: var(--elevation);
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#navbar {
    padding-left: 20px;
}

#right-navbar {

}

#right-navbar a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#header-placeholder {
    padding-right:10px;
    flex: 1;
}

#logo-header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#logo-header img {
    height: 50px;
}

main {
    display: flex;
    overflow-y: auto;
    height: calc(100% - 126px);
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

main img {
    width: 300px;
    height: 300px;
}

#placeholder {
    flex: 0;
}

.theme-dark {
    --background: #36393f;
    --background-dark: #2f3136;
    --background-very-dark: #202225;
    --background-extreme-dark: #18191c;
    --background-hover: rgba(4, 4, 5, 0.07);
    --background-context-hover: rgba(79, 84, 92, .16);
    --background-accent: #4f545c;
    --color: #fff;
    --color-light-gray: #b9bbbe;
    --color-gray: #72767d;
    --color-lighter-gray: #8e9297;
    --elevation: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, .24);
    --spacer: hsla(0, 0%, 100%, 0.06);
    --spacer-light: hsla(0, 0%, 100%, 0.02);
    --spoiler: #202225;
    --spoiler-revealed: hsla(0, 0%, 100%, .1);
    --theme: url(https://discord.com/assets/522c831….svg);
    --link: #00b0f4;
}

footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 5px;
    margin: 0 16px 24px;
    padding: 16px;
    background-color: var(--background-very-dark);
    position: relative;
    z-index: 10;
    user-select: none;
}

footer img {
    height: 60px;
    margin-right: 12px;
    margin-bottom: -8px;
    align-self: flex-end;
}

footer span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}